* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.app__wrap {
  height: 600px;
  width: 600px;
  margin: auto;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.game-cell {
  border-collapse: collapse;
}

.empty-cell {
  border: none;
}
.menu-container {
  background-color: #fff;
  height: 600px;
  width: 600px;
  border: 1px solid #000;
  margin: auto;
}
