* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.application{
    margin: 50px auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 300px;
}
.time-count{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;

    width: 100%;
}
.time, 
.count {
    height: 100%;
}
.counter-value {
    text-align: right;
}
.time-value,
.counter-value {
    height: 100%;;
    border:none;
    outline: none;
    font-size: 1.3rem;
}
.time-value{
    width: 100px;
}
.counter-value {
    width: 50px;
}
.app__wrap {
    height: 300px;  
    width: 300px;
    margin: 5px auto;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.game-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.empty-cell {
    border: none;
}

.menu-container {
    background-color: rgb(232, 243, 132);
    border-radius: 10px;
    height: 200px;
    width: 300px;
    border: none;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores-button,
.new-game-button {
    outline: none;
    margin: 20px;
    height: 30px;
    font-size: 1.2em;
    background-color: rgb(162, 224, 46);
    border-radius: 5px;
    border: none;
}

.scores-button:active,
.new-game-button:active {
    box-shadow: inset 6px 6px 8px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
